<!DOCTYPE html>
<html  lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> LUDOTHEQUE </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
<div class="container">
    <header>
        <ul>
            <li><a href="/ludotheque/main">Categorie</a></li>
            <li><a href=/ludotheque/jeu/mainjeu>Jeux</a></li>
            <li><a href="/ludotheque/editeur/mainediteur">Editeur</a></li>
            <li><a href="/ludotheque/joueur/mainjoueur">Joueur</a></li>
          </ul>
    </header>
    <nav>
    </nav>

    <main>
        {% block content %}
        {% load static %}
        {% endblock %}
        </p>
    </main>
    <aside>
        <p>
        </p>
    </aside>
    <footer>
        LUDOTHEQUE
    </footer>
</div>