<!DOCTYPE html>
<html  lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> LUDOTHEQUE </title>
        <link rel="stylesheet" type="text/css" href="squelette.css">
    </head>
    <body>
        {% block content %} 
        {% endblock %}
        <form>
            <button class="glow-on-hover" type="button">HOVER ME, THEN CLICK ME!</button>
        </form>
    </body>
</html>