{% extends 'gabarit.html' %}
{% block content %}
    <h2>Jeux</h2>
    {% for t in jeu %}
    <p>{{t.titre}} : {{t}} <a href="/ludotheque/affichejeu/{{t.id}}">Afficher le jeu</a> <a href="/ludotheque/deletejeu/{{t.id}}">Supprimer le jeu</a> <a href="/ludotheque/updatejeu/{{t.id}}">Modifier le jeu</a></p>
    {% endfor %}

    <h2>Joueurs</h2>
    {% for j in joueur %}
    <p>{{j.nom}} : {{j}} <a href="/ludotheque/affichejoueur/{{j.id}}">Afficher le joueur</a> <a href="/ludotheque/deletejoueur/{{j.id}}">Supprimer le joueur</a> <a href="/ludotheque/updatejoueur/{{j.id}}">Modifier le joueur</a></p>
    {% endfor %}

    <h2>Editeurs</h2>
    {% for e in editeur %}
    <p>{{e.nom}} : {{e}} <a href="/ludotheque/afficheediteur/{{e.id}}">Afficher l'éditeur</a> <a href="/ludotheque/deleteediteur/{{e.id}}">Supprimer l'éditeur</a> <a href="/ludotheque/updateediteur/{{e.id}}">Modifier l'éditeur</a></p>
    {% endfor %}