{% extends 'gabarit.html' %}
{% block content %}
<h2>{{categorie.nom}}</h2>
<article class="article">
    <h3 class="moyenne">Description</h3>
    <p class="commentaire"> {{categorie.description}}</p>
</article>
<article class="descriptionne">
    <h3>Les jeux entrant dans cette catégorie :</h3>
    {% for j in jeu %}
    {% if j.categorie == categorie %}
    <ul>
        <li><a href="/ludotheque/jeu/affichejeu/{{j.id}}">{{j}}</a></li>
    </ul>
    {% endif %}
    {% endfor %}
</article>
{% endblock %}
