<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <h2>Catégories</h2>
    {% for c in catego %}
    <p>{{c.nom}} <a href="/ludotheque/affichecatego/{{c.id}}">Afficher la catégorie</a> <a href="/ludotheque/deletecatego/{{c.id}}">Supprimer la catégorie</a> <a href="/ludotheque/updatecatego/{{c.id}}">Modifier la catégorie</a></p>
    {% endfor %}

    <h2>Jeux</h2>
    {% for t in jeu %}
    <p>{{t.titre}} : {{t}} <a href="/ludotheque/affichejeu/{{t.id}}">Afficher le jeu</a> <a href="/ludotheque/deletejeu/{{t.id}}">Supprimer le jeu</a> <a href="/ludotheque/updatejeu/{{t.id}}">Modifier le jeu</a></p>
    {% endfor %}

    <h2>Joueurs</h2>
    {% for j in joueur %}
    <p>{{j.nom}} : {{j}} <a href="/ludotheque/affichejoueur/{{j.id}}">Afficher le joueur</a> <a href="/ludotheque/deletejoueur/{{j.id}}">Supprimer le joueur</a> <a href="/ludotheque/updatejoueur/{{j.id}}">Modifier le joueur</a></p>
    {% endfor %}

    <h2>Editeurs</h2>
    {% for e in editeur %}
    <p>{{e.nom}} : {{e}} <a href="/ludotheque/afficheediteur/{{e.id}}">Afficher l'éditeur</a> <a href="/ludotheque/deleteediteur/{{e.id}}">Supprimer l'éditeur</a> <a href="/ludotheque/updateediteur/{{e.id}}">Modifier l'éditeur</a></p>
    {% endfor %}


    <h2>Commentaires</h2>
    {% for com in commentaire %}
    <p>{{com.joueur}} : {{com.commentaire}} <a href="/ludotheque/affichecommentaire/{{com.id}}">Afficher le commentaire</a> <a href="/ludotheque/deletecommentaire/{{com.id}}">Supprimer le commentaire</a> <a href="/ludotheque/updatecommentaire/{{com.id}}">Modifier l'éditeur</a></p>
    {% endfor %}
</body>
</html>